<ng-container *ngIf="user$ | async as user; else unauthorized">
	<section class="user" *ngIf="!user.isAnonymous; else isAnonymous">
		<div class="user-avatar">
			<img [src]="user.photoURL" alt="Zdjęcie profilowe" />
		</div>

		<div class="user-name mat-headline">
			{{ user.displayName }}
		</div>

		<div class="user-email mat-caption">
			{{ user.email }}
		</div>
	</section>

	<mat-divider></mat-divider>

	<mat-nav-list>
		<mat-list-item
			[routerLink]="item.routerLink"
			*ngFor="let item of sidenavItems"
			routerLinkActive="activated-route"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			<mat-icon mat-list-icon>{{ item.icon }}</mat-icon>

			<a mat-line>{{ item.text }}</a>
		</mat-list-item>

		<div class="activated-route-indicator"></div>
	</mat-nav-list>
</ng-container>

<ng-template #unauthorized>
	<div class="login-info">
		<a mat-raised-button color="accent" routerLink="/login">Zaloguj się</a>
	</div>
</ng-template>

<ng-template #isAnonymous>
	<p class="anonymous-account-info">
		Jesteś zalogowany jako gość, przejdź do strony profilowej, aby założyć
		konto.
	</p>
</ng-template>
