@use '../../sass/variables' as vars;
@use '../../sass/utils/text-ellipsis' as ellipsis;

:host {
	display: block;
	width: 25rem;
}

.user {
	padding: vars.$global-spacing 0rem;

	&-avatar {
		max-height: 10rem;
		max-width: 10rem;
		margin: 0px auto;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}

	&-name,
	&-email {
		@include ellipsis.text-ellipsis();

		margin: 0px auto;
		margin-top: vars.$global-spacing;
		text-align: center;
	}

	&-name {
		width: 17ch;
	}

	&-email {
		margin-top: 0.5rem;
		width: 30ch;
	}
}

.login-info {
	text-align: center;
	margin-top: 3rem;
}

.anonymous-account-info {
	padding: 1rem;
}

// The height of a single material list item.
$mat-list-item-height: 56px;
// How many item are displayed.
$items-count: 5;

.mat-nav-list {
	position: relative;

	@for $index from 0 to $items-count {
		.activated-route:nth-child(#{$index + 1}) ~ .activated-route-indicator {
			--index: #{$index};
		}
	}

	.activated-route-indicator {
		position: absolute;
		left: 0px;
		top: 8px;
		width: 0.3rem;
		height: 56px;
		background-color: vars.$accent-color;
		transform: translateY(calc(#{$mat-list-item-height} * var(--index, 0)));
		transition: transform 200ms ease;
	}
}
