<ng-container *ngIf="user$ | async as user; else unauthenticated">
	<section
		class="user sidenav-section"
		*ngIf="!user.isAnonymous; else isAnonymous"
	>
		<div class="user-avatar">
			<img [src]="user.photoURL" alt="Zdjęcie profilowe" />
		</div>

		<div class="user-name mat-title">
			{{ user.displayName }}
		</div>

		<div class="user-email mat-caption">
			{{ user.email }}
		</div>
	</section>

	<mat-divider></mat-divider>

	<mat-nav-list>
		<mat-list-item
			[routerLink]="item.routerLink"
			*ngFor="let item of sidenavItems"
			routerLinkActive="activated-route"
			[routerLinkActiveOptions]="{ exact: true }"
			(click)="onItemClick.emit()"
		>
			<mat-icon mat-list-icon>{{ item.icon }}</mat-icon>

			<a mat-line>{{ item.text }}</a>
		</mat-list-item>

		<div class="activated-route-indicator"></div>
	</mat-nav-list>
</ng-container>

<ng-template #unauthenticated>
	<section class="sidenav-section">
		<a mat-button color="accent" routerLink="/login">Zaloguj się</a>
	</section>
</ng-template>

<ng-template #isAnonymous>
	<section class="sidenav-section">
		<p class="mat-small">
			Jesteś zalogowany jako gość. Kliknij w przycisk poniżej, aby założyć stałe
			konto.
		</p>
		<button type="button" mat-button color="accent" (click)="upgradeAccount()">
			Utwórz konto
		</button>
	</section>
</ng-template>
