<table mat-table [dataSource]="transactions" class="transactions-table">
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr
		mat-row
		*matRowDef="let transaction; columns: displayedColumns"
		[routerLink]="['/transaction', transaction.id]"
		class="table-row"
	></tr>

	<ng-container matColumnDef="amount">
		<th mat-header-cell *matHeaderCellDef>Wartość</th>
		<td mat-cell *matCellDef="let transaction">
			{{ transaction.type === 'expense' ? '-' : '+' }}
			{{ transaction.amount }}
		</td>
	</ng-container>

	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef>Data</th>
		<td mat-cell *matCellDef="let transaction">
			{{ transaction.date | date }}
		</td>
	</ng-container>

	<ng-container matColumnDef="category">
		<th mat-header-cell *matHeaderCellDef>Kategoria</th>
		<td mat-cell *matCellDef="let transaction">
			{{ findCategoryName(transaction.category) }}
		</td>
	</ng-container>

	<ng-container matColumnDef="wallet">
		<th mat-header-cell *matHeaderCellDef>Portfel</th>
		<td mat-cell *matCellDef="let transaction">
			{{ findWalletName(transaction.wallet) }}
		</td>
	</ng-container>
</table>
