:host {
	display: block;
	overflow-x: auto;
}

.transactions-table {
	width: 100%;

	tr.table-row:hover {
		@media screen and (hover: hover) {
			background-color: hsl(0 0% 100% / 0.1);
			cursor: pointer;
		}
	}

	td.mat-cell,
	th.mat-header-cell {
		padding-right: 1rem;
	}

	td.mat-cell {
		white-space: nowrap;
	}
}
