<mat-toolbar color="primary" role="header">
	<nav>
		<a mat-button routerLink="/">Monitor budżetu</a>
	</nav>

	<div class="spacer"></div>

	<button
		mat-icon-button
		matTooltip="Wyloguj się"
		*ngIf="isLoggedIn$ | async; else login"
		(click)="logout()"
		aria-label="Wyloguj się"
	>
		<mat-icon>logout</mat-icon>
	</button>

	<ng-template #login>
		<a
			mat-icon-button
			matTooltip="Zaloguj się"
			routerLink="/login"
			aria-label="Zaloguj się"
		>
			<mat-icon>login</mat-icon>
		</a>
	</ng-template>
</mat-toolbar>
