<div class="main-navbar-wrapper" *ngIf="data$ | async as data">
	<mat-toolbar color="primary" role="heading">
		<button mat-icon-button (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
		</button>

		<a mat-button routerLink="/">Monitor budżetu</a>
		<div class="spacer"></div>

		<button
			mat-icon-button
			matTooltip="Wyloguj się"
			*ngIf="data.isLoggedIn; else login"
			(click)="logout()"
			aria-label="Wyloguj się"
		>
			<mat-icon>logout</mat-icon>
		</button>

		<ng-template #login>
			<a
				mat-icon-button
				matTooltip="Zaloguj się"
				routerLink="/login"
				aria-label="Zaloguj się"
			>
				<mat-icon>login</mat-icon>
			</a>
		</ng-template>
	</mat-toolbar>

	<mat-progress-bar
		*ngIf="data.shouldDisplayLoader"
		mode="indeterminate"
		color="accent"
	></mat-progress-bar>
</div>
