<section>
	<header>
		<h1>Kategorie</h1>
		<div class="spacer"></div>
		<button mat-button color="accent" (click)="addCategory()">
			Dodaj kategorię
		</button>
	</header>

	<mat-list role="list" *ngIf="categories$ | async as categories">
		<ng-container *ngIf="categories.length > 0; else noCategories">
			<mat-list-item
				role="listitem"
				*ngFor="let category of categories; trackBy: trackById"
			>
				<img [src]="category.icon" mat-list-avatar />

				<span mat-line>{{ category.name }}</span>

				<button mat-icon-button [mat-menu-trigger-for]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>

				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="editCategory(category)">
						<mat-icon>edit</mat-icon>
						<span>Edytuj</span>
					</button>

					<button mat-menu-item (click)="deleteCategory(category)">
						<mat-icon>delete</mat-icon>
						<span>Usuń</span>
					</button>
				</mat-menu>
			</mat-list-item>
		</ng-container>
	</mat-list>
</section>

<ng-template #noCategories>
	<clue img="assets/icons/folder.svg">Nie znaleziono żadnych kategorii</clue>
</ng-template>
