<ng-container *ngIf="categories$ | async as categories">
	<mat-list role="list" *clueIf="categories.length === 0">
		<mat-list-item
			role="listitem"
			*ngFor="let category of categories; trackBy: trackById"
		>
			<img [src]="category.icon" mat-list-avatar />

			<span mat-line>{{ category.name }}</span>

			<button mat-icon-button [mat-menu-trigger-for]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>

			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="editCategory(category)">
					<mat-icon>edit</mat-icon>
					<span>Edytuj</span>
				</button>

				<button mat-menu-item (click)="deleteCategory(category)">
					<mat-icon>delete</mat-icon>
					<span>Usuń</span>
				</button>
			</mat-menu>
		</mat-list-item>
	</mat-list>
</ng-container>

<floating-action-button>
	<button
		type="button"
		mat-fab
		(click)="addCategory()"
		aria-label="Dodaj kategorię"
	>
		<mat-icon>add</mat-icon>
	</button>
</floating-action-button>
