@use '../../sass/components/containers';

:host {
	display: block;

	.mat-list-avatar {
		border-radius: 0px;
	}
}

.mat-list {
	@include containers.apply('sm');
}

header {
	display: flex;
}

h1 {
	margin: 0px;
}

.spacer {
	flex: 1 1 auto;
}
