@use 'sass:map';

$container-sizes: (
	'sm': 600px,
	'md': 960px,
	'lg': 1280px,
	'xl': 1920px,
	'fluid': 100%,
);

@mixin apply($size) {
	max-width: map.get($container-sizes, $size);
	margin: 0px auto;
}
