<section *ngIf="wallets$ | async as wallets">
	<div class="wallets-actions">
		<h1>Twoje portfele</h1>
		<div class="spacer"></div>
		<button mat-button color="accent" (click)="createWallet()">
			Dodaj portfel
		</button>
	</div>

	<div class="wallets">
		<mat-card *ngFor="let wallet of wallets">
			<mat-card-header>
				<mat-card-title>
					<h2>{{ wallet.name }}</h2>
				</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<p class="wallet-balance">
					{{ wallet.balance | currency }}
				</p>
			</mat-card-content>

			<mat-card-actions>
				<button mat-icon-button matTooltip="Ustaw jako domyślny">
					<mat-icon>favorite_border</mat-icon>
				</button>

				<button mat-icon-button color="accent" matTooltip="Zmień nazwę">
					<mat-icon>edit</mat-icon>
				</button>

				<button
					mat-icon-button
					color="error"
					matTooltip="Usuń portfel"
					(click)="deleteWallet(wallet)"
				>
					<mat-icon>delete</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</section>
