:host {
	display: block;
}

.wallets {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	gap: 1rem;
}

.wallet-balance {
	font-size: 3rem;
}

.mat-card-actions {
	display: flex;
	justify-content: flex-end;
}
