<section *ngIf="wallets$ | loading | async as wallets">
	<mat-toolbar page-toolbar>
		<h1>Twoje portfele</h1>

		<div page-toolbar-spacer></div>

		<button
			type="button"
			mat-icon-button
			(click)="createWallet()"
			aria-label="Dodaj portfel"
			color="accent"
		>
			<mat-icon>add</mat-icon>
		</button>
	</mat-toolbar>

	<div class="wallets" *clueIf="wallets.length === 0">
		<ng-container *ngFor="let wallet of wallets; trackBy: trackById">
			<wallet
				[wallets]="wallets"
				[wallet]="wallet"
				[show-actions]="true"
			></wallet>
		</ng-container>
	</div>
</section>
