$section-vertical-spacing: 1.2rem;

:host {
	display: block;
}

.login {
	max-width: 70rem;
	margin: 0px auto;
}

.login-section {
	&:not(:first-child) {
		padding-top: $section-vertical-spacing;
	}

	&:not(:last-child) {
		padding-bottom: $section-vertical-spacing;
	}
}

mat-icon.mat-card-avatar {
	font-size: 4rem;
	width: 4rem;
	height: 4rem;
}
