@use '../../sass/layout/containers';

$section-vertical-spacing: 1.2rem;

:host {
	@include containers.make-container('sm');

	display: block;
}

.login-section {
	&:not(:first-child) {
		padding-top: $section-vertical-spacing;
	}

	&:not(:last-child) {
		padding-bottom: $section-vertical-spacing;
	}
}

mat-icon.mat-card-avatar {
	font-size: 4rem;
	width: 1em;
	height: 1em;
}
