@use './sass/variables' as vars;
@use './sass/layout/breakpoints';
@use './sass/layout/containers';
@use 'sass:math';
@use 'sass:map';

:host {
	display: block;
}

main {
	margin: 0px auto;

	@each $breakpoint, $size in breakpoints.$breakpoints {
		@include breakpoints.breakpoint-up($breakpoint) {
			@include containers.make-container($breakpoint, false);
		}
	}

	&.sidenav-opened {
		@each $breakpoint in ('md', 'lg', 'xl', 'xxl') {
			$size: map.get(breakpoints.$breakpoints, $breakpoint);

			@media only screen and (min-width: $size) {
				@include containers.make-container(
					$breakpoint,
					false,
					vars.$sidenav-width
				);
			}
		}

		@media only screen and (min-width: map.get(containers.$containers-widths, 'xxl') + vars.$sidenav-width - 0.2) {
			@include containers.make-container('xxl', false);
		}
	}
}

.global-fab-button {
	position: fixed;
	bottom: max(2vw, #{vars.$global-spacing});
	right: max(2vw, #{vars.$global-spacing});
	z-index: 1000;
}
