@use './sass/variables' as vars;
@use './sass/layout/breakpoints';
@use './sass/layout/containers';
@use 'sass:math';
@use 'sass:map';

:host {
	display: block;
}

main {
	padding: {
		top: calc(env(safe-area-inset-top) + #{vars.$global-spacing});
		bottom: calc(env(safe-area-inset-bottom) + #{vars.$global-spacing});
		left: calc(env(safe-area-inset-left) + #{vars.$global-spacing});
		right: calc(env(safe-area-inset-right) + #{vars.$global-spacing});
	}
	margin: 0px auto;

	// The height of the Angular Material sidenav component is based on content height, and there is no way of setting it from outside.
	// This is why we set min height of the content to 100 vh - main navbar height.
	min-height: calc(
		100vh - (#{vars.$mat-toolbar-desktop-height} + #{vars.$global-spacing * 2})
	);
	@media only screen and (max-width: vars.$mat-toolbar-size-change-breakpoint) {
		min-height: calc(
			100vh - (#{vars.$mat-toolbar-mobile-height} + #{vars.$global-spacing * 2})
		);
	}

	@each $breakpoint, $size in breakpoints.$breakpoints {
		@include breakpoints.breakpoint-up($breakpoint) {
			@include containers.make-container($breakpoint, false);
		}
	}

	&.sidenav-opened {
		@each $breakpoint, $size in breakpoints.$breakpoints {
			@if $breakpoint != 'xs' {
				@media only screen and (min-width: $size) {
					@include containers.make-container(
						$breakpoint,
						false,
						vars.$sidenav-width
					);
				}
			}
		}

		@media only screen and (min-width: map.get(containers.$containers-widths, 'xxl') + vars.$sidenav-width - 0.2) {
			@include containers.make-container('xxl', false);
		}
	}

	outline: 3px solid crimson;
	outline-offset: -3px;
}

.mat-sidenav {
	position: fixed;
	top: vars.$mat-toolbar-desktop-height;
	overflow-y: auto;

	@media only screen and (max-width: vars.$mat-toolbar-size-change-breakpoint) {
		top: vars.$mat-toolbar-mobile-height;
	}
}

.global-fab-button {
	position: fixed;
	bottom: max(2vw, #{vars.$global-spacing});
	right: max(2vw, #{vars.$global-spacing});
	z-index: 1000;
}
