:host {
	display: block;
}

.wallet-balance {
	font-size: 3rem;
}

.wallets-actions {
	display: flex;
	align-items: flex-start;
}

.spacer {
	flex: 1 1 auto;
}

.mat-card-actions {
	display: flex;
	justify-content: flex-end;
}

.mat-card-header {
	justify-content: space-between;
}

.mat-card-content {
	padding-bottom: 1.6rem;
}

// Remove margin from the mat-card-header. Without an avatar the header text is not align with the body text what makes it look ugly.
:host ::ng-deep .mat-card-header-text {
	margin-left: 0px;
}
