<mat-card *ngIf="wallet">
	<mat-card-header>
		<mat-card-title>
			<h2>{{ wallet.name }}</h2>
		</mat-card-title>

		<div *ngIf="showActions">
			<button type="button" mat-icon-button [mat-menu-trigger-for]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>

			<mat-menu #menu>
				<button mat-menu-item action="rename-wallet" [action-payload]="wallet">
					Zmień nazwę
				</button>

				<button mat-menu-item [mat-menu-trigger-for]="walletsMenu">
					Przelej pieniądze do
				</button>

				<button mat-menu-item action="delete-wallet" [action-payload]="wallet">
					Usuń
				</button>
			</mat-menu>
		</div>
	</mat-card-header>

	<mat-card-content>
		<p class="wallet-balance">
			{{ wallet.balance | currency }}
		</p>
	</mat-card-content>
</mat-card>

<mat-menu #walletsMenu="matMenu">
	<button
		mat-menu-item
		*ngFor="let menuWallet of wallets"
		action="transfer-money"
		[action-payload]="{ sourceWallet: wallet, targetWallet: menuWallet }"
	>
		{{ menuWallet.name }}
	</button>
</mat-menu>
