:host {
	display: block;
}

file-input {
	margin-bottom: 1rem;
}

.mat-form-field {
	width: 100%;
}

section:not(:last-child) {
	margin-bottom: 1.4rem;
}

.actions {
	display: flex;
	justify-content: flex-end;

	.mat-raised-button:not(:last-child) {
		margin-right: 1rem;
	}
}

.default-transactions-type {
	width: min-content;
	margin: 0px auto;
	margin-bottom: 1rem;
}
