<h2 mat-dialog-title>{{ editMode ? 'Edytuj kategorię' : 'Nowa kategoria' }}</h2>

<form mat-dialog-content #categoryForm="ngForm" id="category-form">
	<mat-form-field>
		<input
			name="name"
			matInput
			type="text"
			[(ngModel)]="result.name"
			#catName="ngModel"
			minlength="3"
			maxlength="64"
			required
		/>
		<mat-label>Nazwa</mat-label>

		<mat-error *ngIf="catName.hasError('minlength')">
			Nazwa <strong>nie może być krótsza</strong> niż
			{{ catName.getError('minlength').requiredLength }} znaki.
		</mat-error>

		<mat-error *ngIf="catName.hasError('maxlength')">
			Nazwa <strong>nie może być dłuższa</strong> niż 64 znaki.
		</mat-error>

		<mat-error *ngIf="catName.hasError('required')">
			Kategoria <strong>musi mieć</strong> nazwę.
		</mat-error>
	</mat-form-field>

	<section>
		<h3>Domyślny typ transakcji</h3>
		<p class="mat-small mat-hint">
			Po wyborze tej kategorii, typ transakcji zostanie automatycznie zaznaczony
			na wybrany poniżej.
		</p>

		<div class="default-transactions-type">
			<mat-button-toggle-group
				value="expense"
				name="defaultTransactionsType"
				[(ngModel)]="result.defaultTransactionsType"
			>
				<mat-button-toggle value="expense">Wydatki</mat-button-toggle>
				<mat-button-toggle value="income">Przychód</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
	</section>

	<section>
		<file-input
			name="icon"
			accept=".svg"
			[required]="!editMode"
			[preview]="categoryIconPreview"
			[(ngModel)]="result.icon"
			[allowed-files]="['image/svg+xml']"
			[max-file-size]="maxFileSize"
			#icon="ngModel"
		></file-input>

		<mat-error
			class="mat-small"
			*ngIf="icon.touched && icon.hasError('invalidFileType')"
			>Zdjęcie nie jest w formacie SVG.
		</mat-error>
		<mat-error
			class="mat-small"
			*ngIf="icon.touched && icon.hasError('fileTooLarge')"
			>Zdjęcie jest za duże (maksymalny rozmiar to
			{{ icon.getError('fileTooLarge').maxSize / 1024 }} kB).
		</mat-error>
		<mat-hint class="mat-small">Tylko zdjęcia w formacie .svg</mat-hint>
	</section>
</form>

<section mat-dialog-actions class="actions">
	<button
		type="submit"
		form="category-form"
		mat-raised-button
		color="accent"
		[mat-dialog-close]="processForm()"
		[disabled]="categoryForm.invalid"
	>
		OK
	</button>

	<button
		type="button"
		mat-raised-button
		color="warn"
		[mat-dialog-close]="null"
	>
		Anuluj
	</button>
</section>
