<ngx-charts-bar-vertical-2d
	[results]="data"
	[yAxisLabel]="yAxisLabel"
	[xAxisLabel]="xAxisLabel"
	[showXAxisLabel]="chartLayoutConfig.showAxisLabels"
	[showYAxisLabel]="chartLayoutConfig.showAxisLabels"
	[xAxis]="true"
	[yAxis]="true"
	[scheme]="colorScheme"
	[roundEdges]="false"
	[groupPadding]="chartLayoutConfig.groupPadding"
	[barPadding]="chartLayoutConfig.barPadding"
	(select)="handleBarSelect($event)"
>
	<ng-template #tooltipTemplate let-model="model">
		<div class="tooltip">
			<div class="tooltip__heading">
				{{ model.series }} &middot; {{ model.name }}
			</div>

			<div class="tooltip__value">{{ model.value | currency }}</div>
		</div>
	</ng-template>
</ngx-charts-bar-vertical-2d>
