<mat-card *ngIf="data$ | loading | async as data">
	<mat-card-header>
		<h1 mat-card-title>Transakcja</h1>
		<p mat-card-subtitle>Wypełnij poniższe pola, aby dodać nową transakcje.</p>
	</mat-card-header>

	<mat-card-content>
		<transaction-form [wallets]="data.wallets" [categories]="data.categories">
			<ng-template let-ngForm="ngForm">
				<button
					type="submit"
					[disabled]="ngForm.invalid"
					mat-flat-button
					color="accent"
				>
					Dodaj
				</button>

				<button type="reset" mat-flat-button color="warn">Resetuj</button>
			</ng-template>
		</transaction-form>
	</mat-card-content>
</mat-card>
