<form
	#transactionForm="ngForm"
	(ngSubmit)="isInEditState ? update() : create()"
	*ngIf="data$ | async as data"
>
	<mat-form-field>
		<mat-label>Kwota</mat-label>
		<input
			matInput
			type="text"
			name="amount"
			required
			[(ngModel)]="formValue.amount"
			#name="ngModel"
			money-amount-validator
		/>
		<mat-icon matPrefix>paid</mat-icon>

		<mat-error *ngIf="name.hasError('required')">Kwota jest wymagana</mat-error>
		<mat-error *ngIf="name.hasError('invalidMoneyFormat')">
			Podaj <strong>poprawnie sformatowaną</strong> kwotę
		</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Data</mat-label>
		<input
			matInput
			type="text"
			name="date"
			[matDatepicker]="datepicker"
			required
			[(ngModel)]="formValue.date"
			#date="ngModel"
		/>
		<mat-icon matPrefix>today</mat-icon>

		<mat-datepicker-toggle matSuffix [for]="datepicker">
			<mat-icon matDatepickerToggleIcon>expand_more</mat-icon>
		</mat-datepicker-toggle>
		<mat-datepicker #datepicker></mat-datepicker>

		<mat-error *ngIf="date.hasError('required')">
			Data jest <strong>wymagana</strong> w formacie dd.mm.yyyy
		</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Kategoria</mat-label>
		<mat-select
			name="category"
			required
			[(ngModel)]="formValue.category"
			#category="ngModel"
			[disabled]="data.categories.length === 0"
		>
			<mat-option
				*ngFor="let category of data.categories"
				[value]="category.id"
			>
				{{ category.name }}
			</mat-option>
		</mat-select>
		<mat-icon matPrefix>category</mat-icon>

		<mat-error *ngIf="category.hasError('required')">
			Kategoria jest wymagana
		</mat-error>
	</mat-form-field>

	<ng-container
		*ngIf="data.categories.length === 0; then noCategoriesInfo"
	></ng-container>

	<mat-form-field>
		<mat-label>Portfel</mat-label>
		<mat-select
			name="wallet"
			required
			[(ngModel)]="formValue.wallet"
			#wallet="ngModel"
			[disabled]="data.wallets.length === 0"
		>
			<mat-option *ngFor="let wallet of data.wallets" [value]="wallet.id">
				{{ wallet.name }}
			</mat-option>
		</mat-select>
		<mat-icon matPrefix>account_balance_wallet</mat-icon>

		<mat-error *ngIf="wallet.hasError('required')">
			Portfel jest wymagany
		</mat-error>
	</mat-form-field>

	<ng-container
		*ngIf="data.wallets.length === 0; then noWalletsInfo"
	></ng-container>

	<mat-form-field>
		<mat-label>Opis</mat-label>
		<input
			matInput
			type="text"
			name="description"
			minlength="3"
			maxlength="128"
			[(ngModel)]="formValue.description"
			#description="ngModel"
		/>
		<mat-icon matPrefix>description</mat-icon>

		<mat-error *ngIf="description.hasError('minlength')">
			Opis <strong>musi posiadać</strong> przynjamniej
			{{ description.getError('minlength').requiredLength }} znaków
		</mat-error>
		<mat-error *ngIf="description.hasError('maxlength')">
			Opis <strong>nie może posiadać</strong> więcej niż
			{{ description.getError('maxlength').requiredLength }} znaków
		</mat-error>
	</mat-form-field>

	<div class="form-actions">
		<button
			type="submit"
			mat-flat-button
			color="accent"
			[disabled]="transactionForm.invalid"
		>
			{{ isInEditState ? 'Zapisz' : 'Dodaj' }}
		</button>

		<button
			type="reset"
			mat-flat-button
			color="warn"
			*ngIf="!isInEditState; else deleteTransactionButton"
		>
			Wyczyść
		</button>
	</div>
</form>

<ng-template #deleteTransactionButton>
	<button type="button" mat-flat-button color="warn" (click)="delete()">
		Usuń
	</button>
</ng-template>

<ng-template #noCategoriesInfo>
	<a
		mat-flat-button
		routerLink="/categories"
		color="warn"
		class="no-content-info"
	>
		Utwórz kategorię, aby kontynuować.
	</a>
</ng-template>

<ng-template #noWalletsInfo>
	<a mat-flat-button routerLink="/wallets" color="warn" class="no-content-info">
		Utwórz portfel, aby kontynuować.
	</a>
</ng-template>

{{ formValue | json }}
