:host {
	display: block;
}

.header-with-actions {
	display: flex;

	.spacer {
		flex: 1 1 auto;
	}
}

.mat-grid-tile {
	.mat-card {
		width: 100%;
		height: 100%;
	}
}

.mat-card-subtitle {
	font-size: clamp(1.2rem, 3vw, 1em);
	min-height: 4rem;
}

.money-amount {
	text-align: center;
	font-size: clamp(2.4rem, 5vw, 3rem);
	line-height: clamp(2.4rem, 5vw, 3rem);
}

.chart-wrapper {
	display: flex;
	height: 40rem;

	.chart {
		width: 100%;
	}
}

.decrease-is-better {
	--decrease-color: green;
	--increase-color: red;
}

.decrease {
	color: var(--decrease-color, red);
}

.increase {
	color: var(--increase-color, green);
}
