@use 'sass:map';
@use './breakpoints';

$containers-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
);

@mixin make-container($size, $centered: true) {
	max-width: map.get($containers-widths, $size);

	@if $centered {
		margin-left: auto;
		margin-right: auto;
	}
}
