@import '@angular/material/theming';

// Angular material toolbar height on wider screens.
$mat-toolbar-desktop-height: 64px;
// Angular material toolbar height on narrower screens.
$mat-toolbar-mobile-height: 56px;
// Breakpoint at which material toolbar changes its size.
$mat-toolbar-size-change-breakpoint: 599px;
// Distance from edges of the screen to give elements space to breathe.
$global-spacing: 1rem;

$sidenav-width: 250px;

// Material palettes of the currently used theme. In case of a theme change, these should be updated.
$primary-palette: mat-palette($mat-purple);
$accent-palette: mat-palette($mat-green, 'A200', 'A100', 'A400');
$warn-pallette: mat-palette($mat-red);
$primary-color: mat-color($primary-palette);
$accent-color: mat-color($accent-palette);
$warn-color: mat-color($warn-pallette);
$success-color: mat-color(mat-palette($mat-green, 'A200', 'A100', 'A400'));
