/* You can add global styles to this file, and also import other style files */
html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 1.6rem;
}

html,
body {
	height: 100%;
}

// Adds margin equal to the mat-toolbar height.
.with-fixed-mat-toolbar {
	// Angular material toolbar height, on screens wider than 599px.
	padding-top: 64px;

	@media (max-width: 599px) {
		// Angular material toolbar height, on screens narrower than 599px.
		padding-top: 56px;
	}
}
