/* You can add global styles to this file, and also import other style files */
@use './app/sass/variables' as vars;

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 1.6rem;
}

html,
body {
	height: 100%;
}

* {
	// Scroll padding that contains fixed navbar height and some additional space.
	scroll-padding-top: calc(
		#{vars.$mat-toolbar-desktop-height} + #{vars.$global-spacing}
	);

	@media (max-width: vars.$mat-toolbar-size-change-breakpoint) {
		scroll-padding-top: calc(
			#{vars.$mat-toolbar-mobile-height} + #{vars.$global-spacing}
		);
	}
}

// Adds margin equal to the mat-toolbar height.
.with-fixed-mat-toolbar {
	// Angular material toolbar height, on screens wider than 599px.
	padding-top: vars.$mat-toolbar-desktop-height;

	@media (max-width: vars.$mat-toolbar-size-change-breakpoint) {
		// Angular material toolbar height, on screens narrower than 599px.
		padding-top: vars.$mat-toolbar-mobile-height;
	}
}

// Remove firebase auth emulator warning.
.firebase-emulator-warning {
	display: none;
}
