<label
	class="file-input"
	[ngClass]="{
		'file-input--without-preview': !hasPreview,
		'file-input--disabled': isDisabled
	}"
	mat-ripple
	[matRippleDisabled]="isDisabled"
>
	<input
		type="file"
		class="cdk-visually-hidden"
		#vanillaInput
		(change)="handleFileChange()"
		[disabled]="isDisabled"
		[accept]="accept"
	/>

	<div class="file-input__preview-wrapper">
		<img
			*ngIf="hasPreview"
			#filePreview
			class="file-input__preview"
			alt="file preview"
		/>
	</div>

	<span
		[class.file-input__overlay--always-shown]="!hasPreview"
		[class.file-input__overlay--backdrop]="hasPreview"
		class="file-input__overlay"
	>
		<mat-icon>add_photo_alternate</mat-icon>
	</span>
</label>
